<template>
    <v-card>
        <v-img
            :src="branchInfo.icon"
            aspect-ratio="2.75"/>
        <v-card-title primary-title>
            <div>
                <h3 class="headline mb-0">{{ branchInfo.name }}</h3>
                <div>{{ userTasksByAllTasks }}</div>
            </div>
        </v-card-title>
        <v-card-actions>
            <v-btn flat color="red" @click="$router.push(`/${branchInfo._id}/tasks`)">
                Посмотреть задания
            </v-btn>
            <v-btn icon @click="show = !show">
                <v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
            </v-btn>
        </v-card-actions>
        <v-slide-y-transition>
          <v-card-text v-show="show">
           {{ branchInfo.description }}
          </v-card-text>
        </v-slide-y-transition>
    </v-card>
</template>

<script>
export default {
    name: 'Branch',
    data: () => ({
        show: false
    }),
    props: {
        branchInfo: {
            type: Object,
            required: true
        },
        completedUserTasks: {
            type: Number,
            required: true
        }
    },
    computed: {
        userTasksByAllTasks(){
            return `${this.completedUserTasks.length}/${this.branchInfo.tasks.length}`
        }
    }
}
</script>
