<template>
  <icon>
    <v-icon v-on:click="Menu.seen=false">{{ icon }}</v-icon>
  </icon>
</template>

<script>
export default {
  name: "iconMenu",
  data () {
    return {
      icon : "menu"
    }
  }
}

function showMenu() {
  alert("dick")
}
</script>

<style>
</style>
