<template lang="html">
 <div></div>
</template>

<script>
  export default{
    name: 'Tasks'
  }
// export default {
//   name: "Tasks",
//   data: () => ({
//     // points[
//     //   [47.23670578, 39.71249939],
//     //   [47.24122971, 39.71156240],
//     //   [47.24102695, 39.71631260]
//     // ],
//     chapters: []
//   })
// }

// ymaps.ready(init);
//     function init(){
//         // Создание карты.
//         var myMap = new ymaps.Map("map", {

//             center: [47.22989933, 39.74528938],
//             // от 0 (весь мир) до 19.
//             zoom: 15
//         }),
//         taskPoint = new ymaps.GeoObject({
//             // Описание геометрии.
//             geometry: {
//                 type: "Point",
//                 coordinates: [47.22989933, 39.74528938]
//             },
//             // Свойства.
//             properties: {
//                 // Контент метки.
//                 iconContent: 'Новое задание',
//                 hintContent: '*описание задания*',
//                 // preset: 'islands#redIcon'
//             }
//         }, {
//             // Опции.
//             // Иконка метки будет растягиваться под размер ее содержимого.
//             preset: 'islands#redStretchyIcon',
//             // Метку можно перемещать.
//             // draggable: true
//         })


//           myMap.geoObjects.add(taskPoint)

//           taskPoint.events.add('click', function () {
//             alert(location);
//             location.assign("http://localhost:8080/#/profile");
//           });
//     };


// // Размещение геообъекта на карте.

//   // var myPlacemark = new ymaps.Placemark([47.22989933, 39.74528938]);
// //   var myPlacemark = new ymaps.GeoObject({
// //     geometry: {
// //         type: "Point",
// //         coordinates: [47.22989933, 39.74528938]
// //     }
// // });

</script>

<style lang="scss">
  #map{
    width: 100%;
    height: 500px;
  }
</style>
