<template>
    <v-layout row wrap justify-space-around align-space-around fill-height>
        <v-flex xs3>
            <img :src="userInfo.icon" alt="">
        </v-flex>
        <v-flex xs4 offset-xs1>
            <v-layout column justify-center>
                <p class="headline">{{ info.fullname }}</p>
                <p class="headline">Опыт: {{ userInfo.exp}}</p>
                <p class="headline">Монеты: 234</p>
            </v-layout>
        </v-flex>
        <v-flex xs1></v-flex>
    </v-layout>
</template><

<script>
export default {
    name: 'ProfileInfo',
    data(){
        return {
            modelPersonPath: '../assets/model_person.png',
            userInfo: this.$store.getters.user 
        }
    },
    props: {
        info: {
            type:Object,
            required: true
        }
    },
    mounted(){
        this.userInfo = this.$store.getters.user
    },
}
</script>

<style>
.backg-color{
    background: #00c5b9 !important;
}
.button-bg{
    background: #01808f !important;
}
    .profile-info{
        display: flex;
        align-items: flex-start;
    }
    .profile-info > img{
        width: 150px;
        height: 150px;
    }
</style>
