<template>
    <v-container fluid>
        <v-layout row justify-center>
            <v-flex xs12 class="bg-color">
                <v-layout row justify-center class="bg-color" >
                    <v-flex xs2 v-for="(item, index) in achievements" :key="index" >
                        <v-layout column align-center>
                            <v-progress-circular
                                :rotate="-90"
                                :size="100"
                                :width="15"
                                :value="item.number"
                                color="white"
                                class="mt-3"
                                >
                                {{ item.number }}
                            </v-progress-circular>
                            <p class="mt-3">{{ item.title }}</p>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data(){
        return{
            achievements: [
                { title: 'Завершённые задания', number: null, max: 64},
                { title: 'Предметы', number: '15', max:  64},
                { title: 'Достижения', number: '20', max:  99 }
            ],
        }
    },
    computed:{
        completedTask(){
            let count = 0
            this.$store.getters.user.branches.map( branch => {
                branch.tasks.map( task => {
                    task.state === 'completed' ? ++count : ''
                })
            })
            return count
        }
    },
    mounted(){
        this.achievements[0]['number'] = this.completedTask
    }
}
</script>

<style>
.bg-color{
    background: #3F51B5;
    color: white;
    padding: 25px 0px;
    font-size: 1.3rem;
}
</style>
