<template>
        <v-layout row justify-end >
            <v-flex xs1 align-self-center>
                <img src="../../assets/1.jpg" alt="" height="70" width="70" class="ml-5">
            </v-flex>
            <v-flex xs2>
                <v-layout column  class="mr-5">
                    {{ userInfo.name }}
                    <div>
                        {{ userInfo.branches[0].branch.name }} <span class="primary--text font-weight-bold">{{ userInfo.branches[0].branch.level }}</span> LVL
                    </div> 
                     <v-progress-linear v-model="computedProgress"></v-progress-linear>
                </v-layout>
            </v-flex>
        </v-layout>
</template>

<script>
export default {
    name: 'topbar',
    data(){
        return{
            userInfo: this.$store.getters.user 
        }
    },
    mounted(){
        this.userInfo = this.$store.getters.user
    },
    computed:{
        computedProgress(){
            return  this.userInfo.exp / 5000 * 100
        }
    }
}
</script>

<style>

</style>
