<template>
    <div>
        <v-tabs right v-model="model">
            <v-tab :href="`#tab-1`">
                Задачи в процессе
            </v-tab>
            <v-tab :href="`#tab-2`">
                Карта задач
            </v-tab>
        </v-tabs>
    <v-tabs-items v-model="model">
        <v-tab-item :id="'tab-1'">
            <task-in-process/>
        </v-tab-item>
        <v-tab-item :id="'tab-2'">
            <task-map></task-map>
        </v-tab-item>
    </v-tabs-items>
    </div>
</template>

<script>
    import TaskInProcess from '../TasksInProcess/index'
    import TaskMap from '../TaskMap/index'
    export default {
        data(){
            return {
                model: 'tab-1'
            }
        },
        name: 'TabPage',
        components: {
            TaskMap,
            TaskInProcess
        }
    }
</script>