<template>
  <v-navigation-drawer
    stateless
    value="true"
    width="250"
  >
    <v-list>
      <v-list-tile>
        <v-list-tile-action>
          <v-icon>account_circle</v-icon>
        </v-list-tile-action>
        <v-list-tile-title><router-link to="/profile">Profile</router-link></v-list-tile-title>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-action>
          <v-icon>widgets</v-icon>
        </v-list-tile-action>
        <v-list-tile-title><router-link to="/branches">Branches</router-link></v-list-tile-title>
      </v-list-tile>

      <v-list-tile>
        <v-list-tile-action>
          <v-icon>map</v-icon>
        </v-list-tile-action>
        <v-list-tile-title><router-link to="/map">Map</router-link></v-list-tile-title>
      </v-list-tile>

      <v-list-group
        prepend-icon="info"
        value="true"
      >
        <v-list-tile slot="activator">
          <v-list-tile-title><router-link to="/baseInfo">Base information</router-link></v-list-tile-title>
        </v-list-tile>

        <v-list-group
          no-action
          sub-group
          value="true"
          v-for="item in chapters" :key="item"
        >
            <v-list-tile slot="activator">
              <v-list-tile-title><router-link to="item.titlePath">{{ item.chapter }}</router-link></v-list-tile-title>
            </v-list-tile>

          <v-list-tile v-for="el in item.content" :key="el" >
              <v-list-tile-title>{{ el }}</v-list-tile-title>
              <v-list-tile-action>
                <v-icon ></v-icon>
              </v-list-tile-action>
          </v-list-tile>
        </v-list-group>

      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    name: "Menu",
    data: () => ({
      chapters: [
        {chapter: "Coder", titlePath: ["/coderBrch"],content: ["Item 1","Item 2","Item 3"]},
        {chapter: "Designer", titlePath: ["/designerBrch"],content: ["Item 1","Item 2","Item 3", "Item 4"]},
        {chapter: "Teacher", titlePath: ["/teacherBrch"],content: ["Item 1","Item 2"]}
      ]
    })
  }
</script>

<style scoped>

</style>
