<template>
    <v-layout row wrap v-if="isLoaded">
        <v-flex v-for="(value, key) in $store.getters.inProcessTasks" :key="key" xs4>
            <taskProcess
                 :data="value"
                />
        </v-flex>
    </v-layout>
</template>

<script>
    import api from '../../api/services'
    import TaskProcess from '../TaskProcess/index'
    export default {
        name: 'TaskInProcess',
        data(){
            return {
                isLoaded: false
            }
        },
        components:{
            TaskProcess
        },
        async mounted(){
            this.isLoaded = false
            this.$store.dispatch('setInProcessTasks', [])
            const inProcessTasks = await api.getInProcessTask(this.$route.params.branch_id)
            this.$store.dispatch('setInProcessTasks', inProcessTasks)
            this.isLoaded = true
        },
        async beforeRouteUpdate(){
            console.log(this.$route)
        }
    }
</script>
