<template>
    <v-card>
        <v-img
            :src="data.icon"
            aspect-ratio="2.75"/>
        <v-card-title primary-title>
            <div>
                <h3 class="headline mb-0">{{ data.name }}</h3>
            </div>
        </v-card-title>
        <v-card-actions>
            <v-btn icon @click="show = !show">
                <v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
            </v-btn>
        </v-card-actions>
        <v-slide-y-transition>
          <v-card-text v-show="show">
           {{ data.description }}
          </v-card-text>
        </v-slide-y-transition>
    </v-card>
</template>

<script>
    export default {
        name: 'TaskProcess',
        data(){
            return {
                show: false
            }
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        }
    }
</script>
