<template>
    <v-timeline v-if="loaded">
        <v-timeline-item v-for="(value, key) in tasks"
            :key="key"
            color="red lighten-2"
            icon="mdi-buffer"
            large
        >
            <task :value="value" :branchId="branchId"/>
        </v-timeline-item>
    </v-timeline>
</template>

<style scoped>
    .green {
        color: green;
    }

    .red {
        color: red;
    }
</style>

<script>
    import api from '../../api/services'
    import Task from '../Task/index'
    export default {
        name: 'TaskMap',
        components: {
            Task
        },
        data() {
            return {
                loaded: false
            }
        },
        async mounted(){
            this.loaded = false
            this.$store.dispatch('setTasks', [])
            const currentBranch = this.$store.getters.branches.find(value => value._id === this.branchId)
            const userBranch = this.$store.getters.user.branches.find((value) => {
                    return value.branch._id == this.branchId
            })
            const { tasks } = currentBranch
            const tasksData = []
            for (const task of tasks){
                console.log(userBranch)
                const userTask = userBranch.tasks.filter(value => value.task._id === task._id)
                console.log(userTask)
                userTask.filter(value => value != undefined)
                tasksData.push({ data: task, isCompleted: this.checkUserCompleted(task, currentBranch), state: userTask[0].state })
            }
            tasksData.sort((x, y) => {
                return y.isCompleted - x.isCompleted
            })
            this.$store.dispatch('setTasks', tasksData)
            this.loaded = true
        },
        computed:{
            branchId(){
                return this.$route.params.branch_id
            },
            tasks(){
                return this.$store.getters.tasks
            }
        },
        methods:{
            checkUserCompleted(task){
                const currentBranch = this.$store.getters.user.branches.find((value) => {
                    return value.branch._id == this.branchId
                })
                let isCompleted = false
                currentBranch.tasks.map((value) =>{
                    if (task._id === value.id && value.state === 'completed'){
                        isCompleted = true
                    }
                })
                return isCompleted
            },
        }
    }
</script>
