<template>
    <v-container fluid>
        <v-layout column justify-center>
            <v-flex xs8>
                <profile-info :info="userInfo"/>
                <skills/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import ProfileInfo from '../ProfileInfo.vue'
import Skills from '../Skills.vue'
export default {
    name: 'PrivateOffice',
    components:{
        ProfileInfo,
        Skills
    },
    computed: {
        userInfo(){
            return {
                fullname: this.$store.getters.user.name,
                subscriptionDate: new Date(),
                img: this.$store.getters.user.icon,
            }
        }
    }
}
</script>

<style>

</style>
