<template>
  <div id="app">
    <v-app>
      <v-layout row fill-height>
        <Menu/>
        <v-content>
          <v-container grid-list-md text-xs-center>
            <router-view></router-view>
          </v-container>
        </v-content>
      </v-layout>
    </v-app>
  </div>
</template>

<script>
import Api from './api/services.js'
import Menu from './components/Menu'
import Topbar from './components/Topbar'
//import baseInfo from './components/baseInfo'

export default {
  name: 'app',
  components: {
      Menu,
      Topbar
      //baseInfo
  },
  data(){
    return {
      loadedUser: false,
      userInfo: this.$store.getters.fakeUser
    }
  },
  mounted() {
    this.getUser()
  },
  computed:{
    isProfile(){
      return !!this.$route.path.match('/profile')
    }
  },
  methods: {
    async getUser(){
        const user = await Api.getUser()
        this.$store.dispatch('setUser', user)
        const branches = []
        this.$store.dispatch('setBranches', [])
        for (const branch of user.branches) {
            const branchInfo = await Api.getBranchInfo(branch.branch._id)
            branches.push(branchInfo)
        }
        this.$store.dispatch('setBranches', branches)
        this.loadedUser = true
    }
  }
}
</script>

<style lang="scss">
  *{


    & a{
      text-decoration: none;
      // color: #000;
    }
  }
</style>
