<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>frontend</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->


    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=dcd48b50-9773-4635-9602-860dcb92d7c7&lang=ru_RU&load=Map,Placemark" type="text/javascript"></script> -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=dcd48b50-9773-4635-9602-860dcb92d7c7" type="text/javascript"></script>
    <!-- <script src="<%= BASE_URL %>mapLogic.js"></script> -->
  </body>
</html>
