<template>
    <v-layout row wrap>
        <v-flex v-for="(value, key) in branches" :key="key" xs4>
            <branch
                :completedUserTasks="userBranches[key].completedTasks"
                :branchInfo="branches[key]"
                />
        </v-flex>
    </v-layout>
</template>


<script>
import Api from '../../api/services'
import Branch from '../Branch/index'

export default {
    name: 'Branches',
    components: {
        Branch
    },
    computed: {
        branches(){
            return this.$store.getters.branches
        },
        userBranches(){
            for (const branch of this.$store.getters.user.branches){
                const { tasks } = branch
                branch['completedTasks'] = []
                for (const task of tasks){
                    if (task.state === 'completed'){
                        branch['completedTasks'].push(task)
                    }
                }
            }
            return this.$store.getters.user.branches
        }
    }
}
</script>
