<template>
     <v-card class="elevation-2">
        <v-img
            :src="value.data.icon"
            aspect-ratio="2.75"/>
        <v-card-title class="pb-0 headline">
            <span>{{ value.data.name }}</span>
        </v-card-title>
        <v-card-text class="pb-0">
            <v-layout column align-start>
                <span class="px-2 experience" :class="getClassName(value.data.exp)">{{ value.data.exp }} опыта</span>
                <span>{{ new Date(value.data.deadline).toDateString() }}</span>
                <span class="caption grey--text">{{ value.data.loc }}</span>
            </v-layout>
            <br>
            <p class="description">{{ value.data.description }}</p>
        </v-card-text>
        <v-card-actions>
            <v-btn
                @click="changeTaskStatus"
                :disabled="buttonStatus"
                :color="`${classNameForButton} lighten-2`"
                :class="`${classNameForButton} lighten-2`"
                outline>
                {{ buttonValue }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import api from '../../api/services'
    export default {
        name: 'Task',
        data() {
            return {
                buttonValue: this.getButtonValue()[0],
                buttonStatus: this.getButtonValue()[1]
            }
        },
        props: {
            value: {
                type: Object
            },
            branchId:{
                type: String
            }
        },
        methods: {
            async changeTaskStatus() {
                const body = {
                    new_state: 'in_process',
                    task_id: this.value.data._id,
                    branch_id: this.branchId
                }
                api.setTaskState(body)
                this.buttonValue = 'В процессе'
                this.buttonStatus = true
            },
            getButtonValue(){
                const buttonValues = {
                    not_started: ['Взяться за выполнение', false],
                    in_process: ['Задача выполняется', true],
                    completed: ['Задача выполнена', true],
                    expired: ['Задача просрочена', true]
                }
                return buttonValues[this.value.state]
            },
            getClassName(exp){
                return exp < 0 ? 'red' : 'green'
            }
        }
    }
</script>

